<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
	<title>Callicog</title>
</head>
<body>

<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a class="navbar-item" style="font-weight: 900; font-size: large;">
			Callicog
		</a>

		<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>

	<div id="navbarBasicExample" class="navbar-menu">
		<div class="navbar-start">
			<a class="navbar-item">
				Home
			</a>
			<a class="navbar-item">
				Documentation
			</a>
		</div>
	</div>
</nav>

<div class="columns">
	<div class="column is-one-fifth">
		<div class="section">
			<aside class="menu">
				<p class="menu-label">
					Manage
				</p>
				<ul class="menu-list">
					<li><a href="/animals">Animals</a></li>
					<li><a href="/tasks">Tasks</a></li>
					<li><a href="/templates">Templates</a></li>
				</ul>
				<p class="menu-label">
					Report
				</p>
				<ul class="menu-list">
					<li><a href="/experiments">Experiments</a></li>
					<li><a href="/trials">Trials</a></li>
				</ul>
			</aside>
		</div>
	</div>
	<div class="column is-four-fifths">
		<div class="section">
			<h1 class="title">Trials</h1>
			<form method="POST" action="">
				<div class="columns">
					<div class="column is-one-quarter">
						<div class="field">
							<label class="label">Trial</label>
							<div class="control">
								<input type="text" name="trial_id" class="input" placeholder="Trial ID">
							</div>
						</div>
					</div>
					<div class="column is-one-quarter">
						<div class="field">
							<label class="label">Shape</label>
							<div class="control">
								<input type="text" name="stim_shape" class="input" placeholder="e.g. square">
							</div>
						</div>
					</div>
					<div class="column is-one-quarter">
						<div class="field">
							<label class="label">Delay</label>
							<div class="control">
								<input type="text" name="win_delay" class="input" placeholder="e.g. 0.5">
							</div>
						</div>
					</div>
				</div>
				<div class="field is-grouped">
					<div class="control">
						<button class="button is-link" type="submit">Search</button>
					</div>
				</div>
			</form>
		</div>
		<div class="section">
			<h1 class="title">Trial data</h1>
			<table class="table">
				<thead>
					<tr>
						<th>Window</th>
						<th>Delay</th>
						<th>Outcome?</th>
						<th>Timeout</th>
						<th>Fail?</th>
						<th>Flip</th>
						<th>Stimulus</th>
						<th>Touched?</th>
						<th>Touch</th>
						<th>Release</th>
						<th>Label</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>Window</th>
						<th>Delay</th>
						<th>Outcome?</th>
						<th>Timeout</th>
						<th>Fail?</th>
						<th>Flip</th>
						<th>Stimulus</th>
						<th>Touched?</th>
						<th>Touch</th>
						<th>Release</th>
						<th>Label</th>
					</tr>
				</tfoot>
				<tbody>
					{% for window in windows %}
						<tr>
							<td>{{ 'delay' if window.window_transition == None else window.window_transition }}</td>
							<td>{{ '' if window.window_delay == 0 else window.window_delay }}</td>
							<td>{{ 'Yes' if window.is_outcome else 'No' }}</td>
							<td>{{ '' if window.window_timeout == 0 else window.window_timeout }}</td>
							<td>{{ 'Yes' if window.is_outside_fail else 'No' }}</td>
							<td>{{ '' if window.flip_timestamp == None else window.flip_timestamp }}</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>{{ '' if window.window_label == None else window.window_label }}</td>
						</tr>
						{% for stimulus in window.stimuli %}
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td>{{ '' if window.flip_timestamp == None else window.flip_timestamp }}</td>
								<td>{{ stimulus.stimulus_shape }}</td>
								<td>{{ 'Yes' if stimulus.stimulus_touched else 'No' }}</td>
								<td>{{ '' if stimulus.stimulus_touch_timestamp == None else stimulus.stimulus_touch_timestamp }}</td>
								<td>{{ '' if stimulus.stimulus_release_timestamp == None else stimulus.stimulus_release_timestamp }}</td>
								<td>{{ '' if window.window_label == None else window.window_label }}</td>
							</tr>
						{% endfor %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

</body>
</html>