<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
	<title>Callicog - Template tasks</title>
</head>
<body>

<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a class="navbar-item" style="font-weight: 900; font-size: large;">
			Callicog
		</a>

		<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>

	<div id="navbarBasicExample" class="navbar-menu">
		<div class="navbar-start">
			<a class="navbar-item">
				Home
			</a>
			<a class="navbar-item">
				Documentation
			</a>
		</div>
	</div>
</nav>

<div class="columns">
	<div class="column is-one-fifth">
		<div class="section">
			<aside class="menu">
				<p class="menu-label">
					Manage
				</p>
				<ul class="menu-list">
					<li><a href="/animals">Animals</a></li>
					<li><a href="/tasks">Tasks</a></li>
					<li><a href="/templates">Templates</a></li>
				</ul>
				<p class="menu-label">
					Report
				</p>
				<ul class="menu-list">
					<li><a href="/experiments">Experiments</a></li>
				</ul>
			</aside>
		</div>
	</div>
	<div class="column is-four-fifths">
		<div class="section">
			<h1 class="title">Update template task</h1>
			<form method="POST" action="">
				<div class="columns">
					<div class="column is-one-quarter">
						<div class="field">
							<label class="label">Task</label>
							<div class="control">
								<div class="select">
									<select name="protocol_id">
										{% for protocol in all_protocols %}
											<option value="{{ protocol.protocol_id }}" {% if protocol.protocol_id == template_protocol.protocol.protocol_id  %} selected="selected" {% endif %}>{{ protocol.protocol_name }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="column is-one-quarter">
						<div class="field">
							<label class="label">Progression</label>
							<div class="control">
								<div class="select">
									<select name="progression_type" onchange="toggleInput()" id="sel_progression">
										<option value="target_based" {% if template_protocol.progression == 'target_based' %} selected="selected" {% endif %}>Target based</option>
										<option value="rolling_average" {% if template_protocol.progression == 'rolling_average' %} selected="selected" {% endif %}>Rolling average</option>
										<option value="session_based" {% if template_protocol.progression == 'session_based' %} selected="selected" {% endif %}>Session based</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="columns">
					<div class="column is-one-quarter">
						<div class="field">
							<label class="label"># trials</label>
							<div class="control">
								<input id="in_target_trials" type="text" name="target_trials" value="{{ '' if not template_protocol.target_trials else template_protocol.target_trials }}" class="input" placeholder="# trials" {% if not template_protocol.target_trials %} disabled {% endif %}>
							</div>
						</div>
						<div class="field">
							<label class="label"># sessions</label>
							<div class="control">
								<input id="in_target_sessions" type="text" name="target_sessions" value="{{ '' if not template_protocol.target_sessions else template_protocol.target_sessions }}" class="input" placeholder="# sessions" {% if not template_protocol.target_sessions %} disabled {% endif %}>
							</div>
						</div>
					</div>
					<div class="column is-one-quarter">
						<div class="field">
							<label class="label">Success rate</label>
							<div class="control">
								<input id="in_success_rate" type="text" name="success_rate" value="{{ '' if not template_protocol.success_rate else template_protocol.success_rate }}" class="input" placeholder="Success rate" {% if not template_protocol.success_rate %} disabled {% endif %}>
							</div>
						</div>
						<div class="field">
							<label class="label">Window size</label>
							<div class="control">
								<input id="in_window_size" type="text" name="rolling_window_size" value="{{ '' if not template_protocol.rolling_window_size else template_protocol.rolling_window_size }}" class="input" placeholder="Window size" {% if not template_protocol.rolling_window_size %} disabled {% endif %}>
							</div>
						</div>
					</div>
				</div>
				<div class="field is-grouped">
					<div class="control">
						<button class="button is-link" type="submit">Update</button>
					</div>
					<div class="control">
						<a class="button is-danger" href="{{ url_for('deleteTemplateTask', id=template_protocol.template_protocol_id) }}">Delete</a>
					</div>
				</div>
			</form>
			
		</div>
	</div>
</div>
<!--<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', () => {
		(document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
			const $notification = $delete.parentNode;
			$delete.addEventListener('click', () => {
				$notification.parentNode.removeChild($notification);
			});
		});
	});
</script>-->
<script type="text/javascript">
	function toggleInput() {
		var sel_progression = document.getElementById("sel_progression");
		var in_target_trials = document.getElementById("in_target_trials");
		var in_target_sessions = document.getElementById("in_target_sessions");
		var in_success_rate = document.getElementById("in_success_rate");
		var in_window_size = document.getElementById("in_window_size");

		in_target_trials.disabled = true;
		in_target_sessions.disabled = true;
		in_success_rate.disabled = true;
		in_window_size.disabled = true;

		if (sel_progression.options[sel_progression.selectedIndex].value == "target_based") {
			in_target_trials.disabled = false;
		} else if (sel_progression.options[sel_progression.selectedIndex].value == "session_based") {
			in_target_trials.disabled = false;
			in_target_sessions.disabled = false;
			in_success_rate.disabled = false;
		} else if (sel_progression.options[sel_progression.selectedIndex].value == "rolling_average") {
			in_success_rate.disabled = false;
			in_window_size.disabled = false;
		}
	}
</script>
</body>
</html>