<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
	<title>Callicog - Animals</title>
</head>
<body>

<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a class="navbar-item" style="font-weight: 900; font-size: large;">
			Callicog
		</a>

		<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>

	<div id="navbarBasicExample" class="navbar-menu">
		<div class="navbar-start">
			<a class="navbar-item">
				Home
			</a>
			<a class="navbar-item">
				Documentation
			</a>
		</div>
	</div>
</nav>

<div class="columns">
	<div class="column is-one-fifth">
		<div class="section">
			<aside class="menu">
				<p class="menu-label">
					Manage
				</p>
				<ul class="menu-list">
					<li><a href="/animals">Animals</a></li>
					<li><a href="/tasks">Tasks</a></li>
					<li><a>Experiments</a></li>
				</ul>
				<p class="menu-label">
					Report
				</p>
				<ul class="menu-list">
					<li><a>Trials</a></li>
				</ul>
			</aside>
		</div>
	</div>
	<div class="column is-four-fifths">
		<div class="section">
			<!--{% for message in get_flashed_messages() %}
			<div class="notification is-success is-light">
				<button class="delete"></button>
				{{ message }}
			</div>
			{% endfor %}-->
			<h1 class="title">Animals</h1>
			<form method="POST" action="">
				<div class="columns">
					<div class="column is-one-quarter">
						<div class="field">
							<label class="label">Animal ID</label>
							<div class="control">
								<input type="text" name="animal_id" class="input" placeholder="Animal ID" value="{{ animal.animal_id }}" disabled>
							</div>
						</div>
					</div>
					<div class="column is-one-quarter">
						<div class="field">
							<label class="label">Alias</label>
							<div class="control">
								<input type="text" name="animal_code" class="input" value="{{ animal.animal_code }}" placeholder="Alias">
							</div>
						</div>
					</div>
				</div>
				<div class="field is-grouped">
					<div class="control">
						<button class="button is-link" type="submit">Update</button>
					</div>
					<div class="control">
						<a class="button is-danger" href="{{ url_for('deleteAnimal', id=animal.animal_id) }}">Delete</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</body>
</html>