[Unit]
Description=Broadcast IP to Slack service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=jack
WorkingDirectory=/home/jack
ExecStart=/home/jack/broadcastIP_slack.sh
RestartSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target