[Desktop Entry]
Type=Application
Name=Callicog server
Exec=bash -c "source ~/marmovenv/bin/activate && cd ~/callicog && bash server.sh; bash" -T "Callicog ready" 
Terminal=true
