# (env) fanay@ccpc01:~$ python --version
# Python 3.7.3
# (env) fanay@ccpc01:~$ cat /etc/*-release
# PRETTY_NAME="Debian GNU/Linux 10 (buster)"
# NAME="Debian GNU/Linux"
# VERSION_ID="10"
# VERSION="10 (buster)"
# VERSION_CODENAME=buster
# ID=debian
# HOME_URL="https://www.debian.org/"
# SUPPORT_URL="https://www.debian.org/support"
# BUG_REPORT_URL="https://bugs.debian.org/"
# (env) fanay@ccpc01:~$ cat /proc/version
# Linux version 4.19.0-23-amd64 (debian-kernel@lists.debian.org) (gcc version
# 8.3.0 (Debian 8.3.0-6)) #1 SMP Debian 4.19.269-1 (2022-12-20)
# (env) fanay@ccpc01:~$ lsb_release -a
# No LSB modules are available.
# Distributor ID: Debian
# Description:    Debian GNU/Linux 10 (buster)
# Release:        10
# Codename:       buster

arabic-reshaper==3.0.0
astunparse==1.6.3
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
cryptography==41.0.3
cycler==0.11.0
decorator==4.4.2
distro==1.8.0
dukpy==0.3.0
esprima==4.0.1
et-xmlfile==1.1.0
fonttools==4.38.0
freetype-py==2.4.0
future==0.18.3
gevent==22.10.2
gitdb==4.0.10
GitPython==3.1.32
glfw==2.6.2
greenlet==2.0.2
idna==3.4
imageio==2.31.2
imageio-ffmpeg==0.4.8
importlib-metadata==6.7.0
javascripthon==0.12
jedi==0.19.0
json-tricks==3.17.3
kiwisolver==1.4.5
matplotlib==3.5.3
moviepy==1.0.3
msgpack==1.0.5
msgpack-numpy==0.4.8
numexpr==2.8.5
numpy==1.21.6
opencv-python==4.8.0.76
openpyxl==3.1.2
packaging==23.1
pandas==1.3.5
parso==0.8.3
Pillow==9.5.0
proglog==0.1.10
psutil==5.9.5
PsychoPy==2021.2.3
psychtoolbox==3.0.19.0
pycparser==2.21
pygame==2.5.1
pyglet==1.4.11
pyo==1.0.5
PyOpenGL==3.1.7
pyparallel==0.2.2
pyparsing==3.1.1
PyQt5==5.14.0
PyQt5-sip==12.12.2
pyserial==3.5
python-bidi==0.4.2
python-dateutil==2.8.2
python-gitlab==3.15.0
python-vlc==3.0.18122
python-xlib==0.33
pytz==2023.3
PyYAML==6.0.1
pyzmq==25.1.1
questplus==2019.4
requests==2.31.0
requests-toolbelt==1.0.0
scipy==1.7.3
six==1.16.0
smmap==5.0.0
sounddevice==0.4.6
soundfile==0.12.1
tables==3.7.0
tqdm==4.66.1
typing_extensions==4.7.1
ujson==5.7.0
urllib3==2.0.4
websocket-client==1.6.1
wxPython @ file:///home/fanay/wxPython-4.1.1-cp37-cp37m-linux_x86_64.whl#sha256=01f194489ceafe0fb1c94939841c4453f1b5b8bb82ac81eacc896df9a0d4f046
xarray==0.20.2
xlrd==2.0.1
zipp==3.15.0
zope.event==5.0
zope.interface==6.0
